* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #333;
    font-family: 'Arial', sans-serif;
   
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: rgb(217, 255, 0);
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #555;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-8 {
    flex: 0 0 calc(66.666% - 20px);
    margin: 0 10px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.col-4 {
    flex: 0 0 calc(33.333% - 20px);
    margin: 0 10px;
}

img {
    max-width: 150%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

section {
    text-align: justify;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.facebook {
    margin-top: -30px;
    margin-right: 130px;
    

}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}