body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, ;
    text-align: center;
   

  
   
   
}
header, nav, main, footer {
    padding: 0%;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
}

h1 {
    margin: 0;
}

nav {
    background-color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 30;
}

li {
    display: inline;
    margin-right: 60px;
}

a {
    text-decoration: black;
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 5%;
    
  
  
}

a:hover {
    background-color: rgb(0, 183, 255);
    color: rgb(0, 0, 0);
    
}

main {
    padding: 10px;
}

footer {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile {
    float: left;
    margin-right: 10px;
    display: flex;
    width: 500px;
    height: auto;
    margin-top: 5px;
    margin-left: 200px;
   border-radius: 20%;
   padding: 10px;
   
}
.image-container {
    display: block;
    align-items: center;
    margin-top: 0%;
    font-size: 80px;
    margin-left: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-text {
    font-size: large;
    margin-right: 60px;
    margin-left: 200px;
    font-family: sans-serif;
    margin-top: 90px;
   

}

.facebook {
    margin-top: -50px;
    margin-right: 130px;
    

}