body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, ;
    text-align: center;
    background-image: url(origins123-01.png);
    background-size: cover;
}

header, nav, main, footer {
    padding: 0%;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
}

h1 {
    margin: 0;
}

nav {
    background-color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 30;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: black;
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 5%;
  
  
}

a:hover {
    background-color: rgb(0, 183, 255);
    color: rgb(0, 0, 0);
    
    
}

main {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #333;
}

header {
    background-color: #2e1d0f;
    padding: 20px;
    text-align: left;
    color: #fff;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    flex: 1;
    max-width: 400px;
    margin: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #7d1411;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

p {
    text-align: justify;
}


