body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, ;
    text-align: center;
    background-image: url(thumb_1687684417_776330.jpg);
    background-size: cover;
   
}


header, nav, main, footer {
    padding: 0%;
}


h1 {
    margin: 0;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 30;
}

li {
    display: inline;
    margin-right: 60px;
}

a {
    text-decoration: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 5%;
    letter-spacing: 5%;
  
  
}

a:hover {
    background-color: rgb(0, 183, 255);
    color: rgb(0, 0, 0);
    
    
}

main {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d2b39;
    color: #fff;
}

header {
    background-color: #13547a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.column {
    flex: 1;
    max-width: 600px;
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

section {
    flex: 1;
    background-color: #1b2c3a;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #33a6b8;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

