* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: rgb(217, 255, 0);
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #555;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-4 {
    flex: 0 0 calc(33.333% - 20px);
    margin: 0 10px;
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
